<nav style="padding:0px 10px">
  <div class="nav-wrapper">
    <a class="brand-logo">Service Worker</a>

    <ul class="right hide-on-med-and-down">
      <li [routerLink]="['/home']" routerLinkActive="router-link-active">Accueil</li>
      <li [routerLink]="['/images']" routerLinkActive="router-link-active">Images</li>
    </ul>
  </div>
</nav>
